body {

    height: 100vh;
    width: 100vw, cover;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-photo/inspiration-asian-young-woman-s-portrait-dark-wall-neon-light-beautiful-female-model-with-headphones-concept-human-emotions-facial-expression-youth-sales-ad_155003-39803.jpg?w=1380&t=st=1697119823~exp=1697120423~hmac=8f946c79026560426d53b9068f1643dcc079b094d5dc10f9252c32168eac3927");
    background-repeat: no-repeat;
    background-size: cover
}




h2 {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

H1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    /* Center the title horizontally */
    font-style: italic;
    font-size: 200%;
}

button {
    background-color: black;
    color: white;

}

ul {
    display: flex;
    justify-content: space-evenly;

    padding: 1rem 2rem;
    display: flex;
    gap: 12rem;
    border-left: 3px solid var(--border-color);
    align-items: center;
    justify-content: center;


}

head{
    background-color: #111112;
  
  }
  li{ 
    list-style-type: none;
    color: aliceblue;
    font: optional;
  }
  