body {

    height: 100vh;
    width: 100vw, cover;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-photo/abstract-wavy-background_23-2150534027.jpg?t=st=1697126579~exp=1697130179~hmac=eaaeb2e12cf56d359766a39a3fc362114f4df2a6d87f80f43e1597a7ba00a39c&w=1380");
    background-repeat: no-repeat;
    background-size: cover
}



h2 {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

H1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    /* Center the title horizontally */
    font-style: italic;
    font-size: 200%;
}

button {
    background-color: black;
    color: white;

}

ul {
    display: flex;
    justify-content: space-evenly;

    padding: 1rem 2rem;
    display: flex;
    gap: 12rem;
    border-left: 3px solid var(--border-color);
    align-items: center;
    justify-content: center;


}
head{
    background-color: #111112;
  
  }
  li{ 
    list-style-type: none;
    color: aliceblue;
    font: optional;
  }
  