body {

    height: 100vh;
    width: 100vw, cover;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-wavy-lines_23-2149157312.jpg?w=1380&t=st=1697119440~exp=1697120040~hmac=c549e2c3d719489be868b40d989da620b4105c8482b4ff54bb1030f23244a70a");
    background-repeat: no-repeat;
    background-size: cover
}


h2 {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

H1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    /* Center the title horizontally */
    font-style: italic;
    font-size: 200%;
}

button {
    background-color: black;
    color: white;

}

ul {
    display: flex;
    justify-content: space-evenly;

    padding: 1rem 2rem;
    display: flex;
    gap: 12rem;
    border-left: 3px solid var(--border-color);
    align-items: center;
    justify-content: center;


}
head{
    background-color: #111112;
  
  }
  li{ 
    list-style-type: none;
    color: aliceblue;
    font: optional;
  }
  
  li{ 
    list-style-type: none;
    color: aliceblue;
    font: optional;
  }
  #container {
    width: 60% ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   margin:auto ;
   
   }
   
   #CI {
  
     color: aliceblue;
     font-weight: bold;
     font-size: medium;
     overflow: hidden;
     flex-direction: row;
      font: 1em sans-serif;
     }
   


