body {

    height: 100vh;
    width: 100vw, cover;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    background-image: url("https://img.freepik.com/free-photo/glowing-spotlight-illuminating-modern-nightclub-performance-space-generated-by-ai_188544-29706.jpg?t=st=1697120385~exp=1697123985~hmac=7fb4b281e88ae96826c3e9970533da3fd4fb4fb89d6e33271bc6c0e40543224e&w=1380");
    background-repeat: no-repeat;
  
    background-size: cover;
    color:white;
    overflow:auto;
    padding-left: 30px;
  }



h2 {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

H1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
  
    font-style: italic;
    font-size: 200%;
}

button {
    background-color: black;
    color: white;

}

ul {
    display: flex;
    justify-content: space-evenly;

    padding: 1rem 2rem;
    display: flex;
    gap: 12rem;
    border-left: 3px solid var(--border-color);
    align-items: center;
    justify-content: center;


}
head{
    background-color: #111112;
  
  }
  li{ 
    list-style-type: none;
    color: aliceblue;
    font: optional;
  }
 
  #container {
    width: 60% ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   margin:auto ;
}
 
 
  #CI {
    background-image: url("https://i.pinimg.com/originals/4a/96/e6/4a96e602750b8ef669a77565becf3939.gif");
  display: flex;
    color: aliceblue;
    font-weight: bold;
    font-size: medium;
    overflow: hidden;
    flex-direction: row;
     font: 1em sans-serif;
    }
  
  
  #container {
    width: 60% ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   margin:auto ;
   
   }
   
   #CI {
  
     color: aliceblue;
     font-weight: bold;
     font-size: medium;
     overflow: hidden;
     flex-direction: row;
      font: 1em sans-serif;
     }